<label>Name: </label>
<span ng-show="!ctrl.data.editable">{{ctrl.data.name}}</span>
<input ng-show="ctrl.data.editable" ng-model="ctrl.data.name" />

<label>Surname: </label>
<span ng-show="!ctrl.data.editable">{{ctrl.data.surname}}</span>
<input ng-show="ctrl.data.editable"  ng-model="ctrl.data.surname" />

<label>Birth year: </label>
<span ng-show="!ctrl.data.editable">{{ctrl.data.birthYear}}</span>
<input ng-show="ctrl.data.editable" ng-model="ctrl.data.birthYear" />


<div>
    <label>Action: </label>
    <button ng-click="ctrl.data.editable = !ctrl.data.editable">{{ ctrl.data.editable ? "store" : "edit" }}</button>
    <button ng-click="ctrl.userZmiz(ctrl.data)">zmiz</button>
    <button ng-click="ctrl.toggleExpand()">{{ ctrl.expanded ? "zabal" : "rozbal"}}</button>
</div>

<pre ng-if="ctrl.expanded">{{ctrl.detail | json}}</pre>
<pre style="color:red" ng-if="ctrl.expanded">{{ctrl.roles | json}}</pre>